body {
    font-family: 'Moon Dance', cursive;font-family: 'Source Sans Pro', sans-serif;
    background-image: url("https://i.pinimg.com/736x/95/5e/5d/955e5db122c05e9fabdccc5bf209f988.jpg");
}
header,section{
  width: 960px;
  margin: 0 auto;
}
header{
  background-color: rosybrown;
}
ul,li{
  list-style-type:"🟣"
}

header{
  display: flex;
}

section{
  display: flex;
}
article{
  width: 60%;
}
img{
  width: 200px;
  height: 200px;
  margin-right: 16px;
}
