body {
    font-family: 'Moon Dance', cursive;font-family: 'Source Sans Pro', sans-serif;
    background-image: url("https://i.pinimg.com/736x/95/5e/5d/955e5db122c05e9fabdccc5bf209f988.jpg");
}
header{
  width: 960px;
  margin: 0 auto;
}
header{
  background-color: rosybrown;
}
ul,li{
  list-style-type:" 💻"
}

header{
  display: flex;
}

section{
  display: flex;

}
article{
  width: 60%;
}
img{
  width: 200px;
  height: 200px;
  margin-right: 16px;
}
.progress2{
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress3{
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress4{
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar2{
  height: 18px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}
.progress-bar3{
  height: 18px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}
.progress-bar4{
  height: 18px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}


.progress-moved .progress-bar2 {
  width: 85%; 
  background-color: #EF476F;  
  animation: progressAnimation 6s;
}
.progress-moved .progress-bar3{
  width: 70%; 
  background-color: #EF476F;  
  animation: progressAnimation 6s;
}
.progress-moved .progress-bar4{
  width: 50%; 
  background-color: #EF476F;  
  animation: progressAnimation 6s;
}
@keyframes progressAnimation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 85%; background-color: #EF476F; }
}

*{
  padding: 0; 
margin: 0; 
box-sizing: border-box; 
font-family: sans-serif;} 

button{ 
  border: none;
  outline: none;
  
}
.container{ 
  position: relative;
  width: 430px;
  
} .whatsappBtn{
  width: 80px; height: 80px;
  position: absolute; 
  left: 0; 
  left: 0; 
  background-color: #29a71a;
  border-radius: 100px; 
  cursor: pointer;
  overflow: hidden; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition: padding 0.4s width 0.3s;
  
} 
.whatbtnimg{ 
  display: block;
  margin: auto;
  width: 55px;
  height: 55px;
}
  .title{
    color: wheat; 
    font-size: 30px; 
    letter-spacing: 5px;
    width: 0;
    opacity: 0;
    margin: 0; 
    visibility: hidden; 
    transition: opacity 0.4s, 
    visibility 0.4s, 
    width 0.3s,
    margin 0.3s;
    
  } 
  .whatsappBtn:hover{
    padding: 20px 50px; 
    width: 80%;
  }
  .whatsappBtn:hover .title{ opacity: 1; visibility: visible;
  width:213px;
  margin-left: 0;
      }
      
      
      
   *{ 
  padding: 0; 
   margin: 0;
  box-sizing: border-box;
   font-family: sans-serif;
        
      } 
   button{ 
    border: none; 
     outline: none;
         
   } 
    .container2{ 
     position: relative;
         width: 430px;
         
   } 
.TwitterBtn{ 
    width: 80px;
    height: 80px;
    position: relative; 
    top: 100px;
     left: 0; 
    left: 0; 
    background-color: #29a71a;
    border-radius: 100px;
    cursor: pointer; 
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: padding 0.4s width 0.3s;
     
   }
   .twittbtnimg{
     display: block; 
     width: 55px;
     
   } .titulo{ 
     color: wheat;
     font-size: 30px;
     letter-spacing: 5px;
     width: 0; 
     opacity: 0;
     margin: 0;
     visibility: hidden;
     transition: opacity 0.4s,
     visibility 0.4s,
     width 0.3s, 
     margin 0.3s;
     
   } 
   .twitterBtn:hoveer{
     padding: 20px 50px;
     width: 80%;
     
   } 
   .twitterBtn:hoveer .titulo{
     opacity: 1;
     visibility: visible;
     width: 213px;
     margin-left: 0;
     
   }
   

   